.input, .note-view .note-props > input[type="text"], .note-view > textarea {
  padding: 6px;
  border: 0;
  outline: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  height: 100%; }

.container {
  height: 100%;
  position: relative;
  overflow: auto;
  background: #FFF; }

.note-side-container {
  position: relative;
  top: 0;
  left: 0;
  height: inherit;
  width: 360px;
  border-right: 1px Solid #F9F9F9; }
  .note-side-container .header {
    height: 60px;
    border-bottom: 1px Solid #EEE; }
    .note-side-container .header > span {
      display: block;
      float: left;
      height: inherit;
      line-height: 60px;
      margin-left: 12px;
      cursor: default;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.95em;
      font-weight: 200;
      color: #555; }
    .note-side-container .header > .button {
      float: right;
      margin: 12px; }
  .note-side-container .note-list-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    margin-top: 60px; }

.note-list {
  overflow-y: scroll;
  height: 100%; }
  .note-list > .active {
    background: #F9F9F9; }
  .note-list .note-container {
    position: relative;
    padding: 17px;
    border: 1px Solid transparent;
    border-bottom: 1px Solid #EEE;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .note-list .note-container:hover {
      background: #F9F9F9;
      border: 1px Solid #EAEAEA; }
      .note-list .note-container:hover > .note-options {
        display: block; }
    .note-list .note-container:last-child {
      border-bottom: none; }
    .note-list .note-container .note-name {
      margin-bottom: 6px;
      max-height: 46px;
      overflow: hidden;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.05em;
      font-weight: 400;
      color: #444;
      word-wrap: break-word; }
    .note-list .note-container .note-date {
      margin-bottom: 6px;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.75em;
      font-weight: 400;
      color: #999; }
    .note-list .note-container .note-content {
      max-height: 51px;
      overflow: hidden;
      line-height: 17px;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.82em;
      font-weight: 400;
      color: #777;
      word-wrap: break-word; }
    .note-list .note-container .note-options {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 28px; }
      .note-list .note-container .note-options > div {
        width: 28px;
        height: inherit; }
      .note-list .note-container .note-options .note-remove {
        background: url("images/x-button.png") center top no-repeat;
        background-position: center -8px; }
        .note-list .note-container .note-options .note-remove:hover {
          background-position: center -52px; }

.note-view {
  position: absolute;
  top: 0;
  left: 400px;
  right: 0;
  height: inherit;
  min-width: 400px;
  padding: 24px; }
  .note-view .note-props {
    height: 46px; }
    .note-view .note-props > input[type="text"] {
      width: 100%;
      height: inherit;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.95em;
      font-weight: 200;
      color: #3071A9; }
  .note-view > textarea {
    width: 100%;
    height: 400px;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    color: #666; }

.button {
  display: block;
  padding: 8px 14px;
  border: 1px Solid #357EBD;
  background: #428BCA;
  line-height: 1.4;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  color: #FFF; }
  .button:focus:active {
    background: #3071A9; }

/*# sourceMappingURL=style.css.map */
