// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$bs-props: 0 1px 3px rgba(0,0,0,0.100), 0 1px 3px rgba(0,0,0,0.100);

@mixin box-props {
	box-shadow: $bs-props;
 	border: 1px solid #EAEAEA;
 	border-radius: 2px;
}
@mixin font-props($size: 0.8em, $color: #000, $weight: 400) {
	font-family: 'Open Sans', sans-serif;
	font-size: $size;
	font-weight: $weight;	
	color: $color;
}
@mixin disable-select {
	user-select: none;
}
.input {
	padding: 6px;
	border: 0;
	outline: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html {
	height: 100%;
}
.container {
	height: 100%;
	position: relative;
	overflow: auto;
	background: #FFF;
}

$headerHeight: 60px;
$sideContainerWidth: 360px;
.note-side-container {
	position: relative;
	top: 0;
	left: 0;
	height: inherit;
	width: $sideContainerWidth;
	border-right: 1px Solid #F9F9F9;
	
	.header {
		height: $headerHeight;
		border-bottom: 1px Solid #EEE;

		& > span {
			display: block;
			float: left;
			height: inherit;
			line-height: $headerHeight;
			margin-left: 12px;
			cursor: default;
			@include font-props(1.950em, #555, 200);
		}

		& > .button {
			float: right;
			margin: 12px;
		}
	}

	.note-list-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: inherit;
		margin-top: $headerHeight;
	}
}

.note-list {
	overflow-y: scroll;
	height: 100%;

	& > .active {
		background: #F9F9F9;
	}

	.note-container {
		position: relative;
		padding: 17px;
		border: 1px Solid transparent;
		border-bottom: 1px Solid #EEE;
		cursor: pointer;
		@include disable-select;

		&:hover {
			background: #F9F9F9;
			border: 1px Solid #EAEAEA;

			& > .note-options { display: block; }
		}

		&:last-child {
			border-bottom: none;
		}

		.note-name {
			margin-bottom: 6px;
			max-height: 46px;
			overflow: hidden;
			@include font-props(1.05em, #444);
			word-wrap: break-word;
		}

		.note-date {
			margin-bottom: 6px;
			@include font-props(0.750em, #999);
		}

		.note-content {
			max-height: 51px;
			overflow: hidden;
			line-height: 17px;
			@include font-props(0.820em, #777);
			word-wrap: break-word;
		}

		.note-options {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			height: 28px;

			& > div {
				width: 28px;
				height: inherit;
			}

			.note-remove {
				background: url('images/x-button.png') center top no-repeat;
				background-position: center -8px;

				&:hover {
					background-position: center -52px;
				}
			}
		}
	}
}

.note-view {
	position: absolute;
	top: 0;
	left: $sideContainerWidth + 40px;
	right: 0;
	height: inherit;
	min-width: 400px;
	padding: 24px;

	.note-props {
		height: 46px;

		& > input[type="text"] {
			width: 100%;
			height: inherit;
			@extend .input;
			@include font-props(1.950em, #3071A9, 200);
		}
	}

	& > textarea {
		width: 100%;
		height: 400px;
		resize: vertical;
		@extend .input;
		@include font-props(0.9em, #666);
	}
}

.button {
	display: block;
	padding: 8px 14px;
	border: 1px Solid #357EBD; 
	background: #428BCA; 
	line-height: 1.4;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
  	@include font-props(0.8em,  #FFF);

	&:focus:active {
		background: #3071A9;
	}
}