// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$bs-props: 0 1px 3px rgba(0,0,0,0.100), 0 1px 3px rgba(0,0,0,0.100);

@mixin box-props {
	box-shadow: $bs-props;
 	border: 1px solid #EAEAEA;
 	border-radius: 2px;
}
@mixin font-props($size: 0.8em, $color: #000, $weight: 400) {
	font-family: 'Open Sans', sans-serif;
	font-size: $size;
	font-weight: $weight;	
	color: $color;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #F5F5F1;
}
.container {
	max-width: 1200px;
	padding: 12px;
	margin: 100px auto;
	overflow: auto;
	background: #FFF;
	@include box-props;
	position: relative;
}

.header {
	padding-bottom: 12px;
	
	& > span {
		display: block;
		@include font-props(1.950em, #555, 200);
		cursor: default;
	}
}

.input {
	padding: 6px;
	border: 0;
	outline: none;
}

.note-box {
	float: right;
	width: 780px;

	.note-props {
		height: 46px;
		padding-bottom: 12px;
		border-bottom: 1px Solid #EEE;
		margin-bottom: 12px;

		& > input[type="text"] {
			width: 100%;
			height: 42px;
			@include font-props(1.350em, #444);
			@extend .input;
		}
	}

	textarea {
		width: 100%;
		min-height: 360px;
		margin-bottom: 12px;
		resize: vertical;
		border-bottom: 1px Solid #EEE;
		@include font-props(0.9em, #666);
		@extend .input;
	}
}

.note-side-container {
	float: left;
	width: 340px;

	.header {
		position: relative;

		& > .button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.note-list {
	max-height: 650px;
	overflow-y: auto;

	.note-container {
		position: relative;
		padding: 17px;
		border: 1px Solid transparent;
		border-bottom: 1px Solid #EEE;
		cursor: pointer;

		&:hover {
			background: #F9F9F9;
			border: 1px Solid #EAEAEA;

			& > .note-options { display: block; }
		}

		.note-name {
			margin-bottom: 6px;
			max-height: 54px;
			overflow: hidden;
			@include font-props(1.2em, #222);
			word-wrap: break-word;
		}

		.note-date {
			margin-bottom: 6px;
			@include font-props(0.750em, #999);
		}

		.note-content {
			max-height: 51px;
			overflow: hidden;
			line-height: 17px;
			@include font-props(0.820em, #777);
			word-wrap: break-word;
		}

		.note-options {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			height: 28px;

			& > div {
				width: 28px;
				height: inherit;
			}

			.note-remove {
				background: url('images/x-button.png') center top no-repeat;
				background-position: center -8px;

				&:hover {
					background-position: center -52px;
				}
			}
		}
	}
}

.note-view {
	width: 600px;
	height: 500px;
	background: #000;
}

.button {
	display: block;
	padding: 8px 14px;
	border: 1px Solid #357EBD; 
	background: #428BCA; 
	line-height: 1.4;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
  	@include font-props(0.8em,  #FFF);

	&:focus:active {
		background: #3071A9;
	}
}